<div id="newblog">
    <a type="button" class="btn btn-success" id="blogplus" href="/newblog"> + New Blog</a>
</div>

<hr/>

<div *ngFor="let blog of blogs;let i=index;">
    <h2>{{ blog.title}}</h2>
    <p>{{blog.content}}</p>
    <p style="color: gray;">{{blog.createdAt}}</p>
    <button type="button" class="btn btn-success"  href="/editBlog" (click)="EditBlog(i)"> Edit Blog</button>
    <button type="button" class="btn btn-danger" style="margin-left: 7px;" (click)="DeleteBlog(i)"> Delete Blog</button>
</div>